apiVersion: v1
kind: ConfigMap
metadata:
  name: api-gateway-config
  namespace: techbank
data:
  application.properties: |
    spring.application.name=api-gateway
    spring.profiles.active=prod
    server.port=8000
    spring.cloud.gateway.routes[0].id=account-service
    spring.cloud.gateway.routes[0].uri=http://account-service:8001
    spring.cloud.gateway.routes[0].predicates[0]=Path=/api/v1/accounts/**
    spring.cloud.gateway.routes[1].id=transaction-service
    spring.cloud.gateway.routes[1].uri=http://transaction-service:8002
    spring.cloud.gateway.routes[1].predicates[0]=Path=/api/v1/transactions/**
    spring.cloud.kubernetes.discovery.enabled=true
    spring.cloud.kubernetes.config.enabled=true
    logging.level.root=INFO
    logging.level.com.techbank=DEBUG
